{% load static %}
{% include 'base/style.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Point of Sale System{% endblock %}</title>
  <link rel="icon" href="{% static 'images/posi.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <style>
    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .content-wrapper {
      flex-grow: 1;
      transition: margin-left 0.3s ease;
    }

    .sidebar-collapse .content-wrapper {
      margin-left: 0;
    }

    .navbar {
      transition: margin-left 0.3s ease;
    }

    .sidebar-collapse .navbar {
      margin-left: 0;
    }
    .sub-menu a li:hover{
      color: brown;
      background-color: grey;
    }
  </style>
</head>
<body class="sidebar-mini bg-white">
  <div class="wrapper bg-white">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Contact</a>
        </li>
        <li class="nav-item dropdown d-none d-sm-inline-block">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Help
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="#">FAQ</a>
            <a class="dropdown-item" href="#">Support</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Contact</a>
          </div>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <form class="form-inline ml-3 d-none d-sm-inline-block">
        <div class="input-group input-group-sm">
          <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      {% endif %}
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'dashboard:index' %}" class="nav-link"><i class='bx bxs-dashboard'></i>&nbsp; Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:logout' %}" class="nav-link"><i class='bx bx-log-out'></i>&nbsp; Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'accounts:login' %}" class="nav-link"><i class='bx bx-log-in'></i>&nbsp; Login</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:home' %}" class="nav-link"><i class='bx bx-user-circle'></i>&nbsp; Register</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light"><i class='bx bxs-vector'></i>&nbsp;POS</span>
      </a>
      <div class="sidebar">
        {% if user.is_authenticated %}
        <a href="{% url 'accounts:profile' %}"  class="d-block">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
           <div class="image">
            {% if user.profile.profile_image %}
              <img src="{{ user.profile.profile_image.url }}"class="img-circle elevation-2" alt="Profile Image" class="profile-image">
            {% else %}
              <img src="{% static 'images/placeholder.png' %}" class="img-circle elevation-2"  alt="Profile Image Placeholder">
            {% endif %}
          </div>
          <div class="info">
           {{ user.username }}
          </div>
        </a>
        </div>
        <ul class="nav nav-pills nav-sidebar flex-column mb-5" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a href="{% url 'dashboard:index' %}" class="nav-link">
                <i class='bx bxs-dashboard'></i>
                <p>Main Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'dashboard:logout' %}" class="nav-link">
                <i class='bx bx-log-out'></i>
                <p>Logout</p>
            </a>
        </li>
        {% if user.profile.role == "admin" %}
              <li class="active nav-item" style="background: black" >
                  <a class="nav-link" href="{% url 'inventory:inventory_dashboard' %}" ><i class=" menu-icon fa fa-laptop"></i><p> Inventory Dashboard</p> </a>
              </li>
              <li class="active nav-item" style="background: black" >
                <a class="nav-link" href="{% url 'sales:sales_dashboard' %}" ><i class=" menu-icon fa fa-laptop"></i><p> Sales Dashboard</p> </a>
            </li>
              <details>
                <summary><li class="nav-item menu-title" style="color: white">Inventory</li></summary>
              <li class="menu-item-has-children dropdown nav-item" >
                  <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user"></i><p> Supplier</p></a>
                  <ul class="sub-menu children dropdown-menu">
                      <a href="{% url 'inventory:create_supplier' %}"><li><i class="fa fa-plus-circle" style="color: darkblue"></i>Add</li></a>
                      <a href="{% url 'inventory:supplier_list' %}"><li><i class="fa fa-eye" style="color: darkblue"></i>View</li></a>
                  </ul>
              </li>

              <li class="menu-item-has-children dropdown nav-item">
                  <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i><p> Buyer</p></a>
                  <ul class="sub-menu children dropdown-menu">
                      <a  href="#"><li><i class="fa fa-plus-circle" style="color: darkblue"></i>Add</li></a>
                      <a  href="#"><li><i class="fa fa-eye" style="color: darkblue"></i>View</li></a>
                  </ul>
              </li>

              <li class="menu-item-has-children dropdown nav-item">
                  <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar"></i><p> Season</p></a>
                  <ul class="sub-menu children dropdown-menu">
                      <a href="#"><li><i class="fa fa-plus-circle" style="color: darkblue"></i>Add</li></a>
                      <a  href="#"><li><i class="fa fa-eye" style="color: darkblue"></i>View</li></a>
                  </ul>
              </li>

              <li class="menu-item-has-children dropdown nav-item">
                  <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tags"></i><p> Category</p></a>
                  <ul class="sub-menu children dropdown-menu">
                      <a href="{% url 'inventory:create_category' %}"><li><i class="fa fa-plus-circle" style="color: darkblue"></i> Add</li></a>
                      <a  href="{% url 'inventory:category_list' %}"><li><i class="fa fa-eye" style="color: darkblue"></i> View</li></a>
                  </ul>
              </li>

              <li class="menu-item-has-children dropdown nav-item">
                  <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-list"></i><p> Product</p></a>
                  <ul class="sub-menu children dropdown-menu">
                      <a  href="{% url 'inventory:create_product' %}"><li><i class="fa fa-plus-circle" style="color: darkblue"></i>Add</li></a>
                      <a  href="{% url 'inventory:product_list' %}"><li><i class="fa fa-eye" style="color: darkblue"></i>View</li></a>
                  </ul>
              </li>

              <li class="menu-item-has-children dropdown nav-item">
                  <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-shopping-cart"></i><p> Order</p></a>
                  <ul class="sub-menu children dropdown-menu">
                      <a href="#"><li><i class="fa fa-plus-circle" style="color: darkblue"></i>Add</li></a>
                      <a  href="#"><li><i class="fa fa-eye" style="color: darkblue"></i>View</li></a>
                  </ul>
              </li>

              <li class="nav-item menu-item-has-children dropdown">
                  <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-truck"></i><p> Delivery</p></a>
                  <ul class="sub-menu children dropdown-menu">
                      <a href="#"><li><i class="fa fa-plus-circle" style="color: darkblue"></i>Add</li></a>
                      <a href="#"><li><i class="fa fa-eye" style="color: darkblue"></i>View</li></a>
                  </ul>
              </li>
              </details>
          {% endif %}
      {% endif %}
    </ul>
      </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper ">
      <section class="content pt-4">
        {% block content %}

        {% endblock %}
      </section>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <div class="container">
        <strong>Manaseh&James &copy; 2023</strong> Point of Sale System
      </div>
    </footer>
  </div>

  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Custom JavaScript code-->
  <script>
    // Initialize pushmenu sidebar
    $(document).ready(function() {
      $('#pushmenu').on('click', function(e) {
        e.preventDefault();
        $("body").toggleClass('sidebar-collapse');
      });
    });
    
  </script> 
  {% if user.is_authenticated %}
  <script>
    $(function() {
  // Set the idle timeout duration in milliseconds (5 minutes in this example)
  var idleTimeout = 5 * 60 * 1000; // 5 minutes
  
  // Initialize the idle timer variable
  var idleTimer;

  // Reset the idle timer function
  function resetIdleTimer() {
    clearTimeout(idleTimer);
    idleTimer = setTimeout(function() {
      // Redirect the user to the password retrieval page
      window.location.href = "{% url 'accounts:lockscreen' %}";
    }, idleTimeout);
  }

  // Attach event listeners to relevant user activities
  $(document).on("mousemove keydown scroll", function() {
    resetIdleTimer();
  });

  // Start the idle timer on page load
  resetIdleTimer();
});
  </script>
  {% endif %}
</body>
</html>
