{% extends 'base/base.html' %}
{% load static %}
{% block title %}Suplier_List - Point of Sale System{% endblock %}
{% include 'base/style.html' %}
{% block content %}
<h1>Employee List</h1>
<div class="products">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Employees</h4>
                    <i class="fa fa-plus-circle" style="color: darkblue"></i><a href="{% url 'employees:employee_add' %}"> Create New</a>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Username</th>
                                    <th>First name</th>
                                    <th>last name </th>
                                    {% comment %} <th>phone number</th> {% endcomment %}
                                    <th>role</th>
                                    <th>date employed <th>
                                    {% comment %} <th>action <th> {% endcomment %}

                                </tr>
                            </thead>
                            <tbody>
                                {% if profile %}
                                {% for profile in profile%}
                                <tr>
                                    <td class="serial">{{ forloop.counter }}</td>
                                    <td>{{ profile.user}}</td>
                                    <td>{{ profile.first_name}}</td>
                                    <td>{{ profile.last_name}}</td>
                                    {% comment %} <td>{{ profile.phonenumber }}</td> {% endcomment %}
                                    <td>{{ profile.role}}</td>
                                    <td>{{ profile.date_started }}</td>
                                    <td><a style = "text-decoration:none; color:red" href ="{%url 'employees:employee_delete' profile.id%}"  class="fa fa-trash m-2 "> </a>
                                    <a style = "text-decoration:none; color:grey " href ="{%url 'employees:employee_edit' profile.id%}"class="fa-regular fa-pen-to-square"> </td>

                                   
                                </tr>
                                {% endfor %}
                                {% else %}
                                    <tr><td>No Product Data</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>
    </div>
</div>
{% endblock %}