{% extends 'base/base.html' %}
{% load static %}

{% block title %}Room List - Accommodation{% endblock %}

{% block content %}
  <div class="container d-flex justify-content-between">
    <div>
      <h1>Room List</h1>
    </div>
    <div>
      <a href="{% url 'accommodation:home' %}" class="btn btn-primary mt-3">
        Home
      </a>
    </div>
    
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Capacity</th>
        <th>Price per Night</th>
        <th>Is Available</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
        <tr>
          <td>{{ room.room_number }}</td>
          <td>{{ room.capacity }}</td>
          <td>{{ room.price_per_night }}</td>
          <td>{% if room.is_available %}Yes{% else %}No{% endif %}</td>
          <td>{{ room.description }}</td>
          <td>
            <a href="{% url 'accommodation:edit_room' room.id %}" class="btn btn-sm btn-primary" title="Edit Room">
              <i class="fas fa-edit"></i>
            </a>
            <a href="#deleteModal{{ room.id }}" class="btn btn-sm btn-danger" title="Delete Room" data-toggle="modal">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ room.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ room.id }}">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete the room "{{ room }}"?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'accommodation:delete_room' room.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
