 {% extends "base/base.html" %}
 {%load widget_tweaks%}
{% block title %}Purchase Order{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center"><b>Supplier details</b></h1><br>
          <form method="POST" id="my-form" action="{% url 'purchase_order:save_form_data' %}" id="form"  >
            {% csrf_token %}
              
            <!-- Supplier details form fields -->
            <br>
            <div class="mb-3">
              <label for="supplier_name" class="form-label">Supplier Name</label>
                  {% render_field form.supplier class="form-control"%}

            </div>
             {% comment %}
            <div class="mb-3">
              <label for="supplier_email" class="form-label">Supplier Email</label>
              <input type="email" class="form-control" id="supplier_email" name="supplier_email" required>
            </div>
            <div class="mb-3">
              <label for="buyer_name" class="form-label">Buyer Name</label>
              <input type="text" class="form-control" id="buyer_name" name="buyer_name" required>
            </div>

          
          <div class="container"> {% endcomment %}
          <h1>Product Form</h1>
               <thead>
                <table class='table'>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Action field</th>
                </tr>
               </thead>
               </table>
            <div class="fields"></div>
 
            <p>
                <button type="button" class="add-fields">
                    Add fields
                </button>

                <button type="submit">
                    Send form
                </button>
            </p>
            </form>
          <a href="{% url 'inventory:supplier_list' %}" class="btn btn-link"><i class="fa fa-eye" style="color: darkblue"></i> Back to List</a>
        </div>
      </div>
    </div>
  </div>
</div>

    <table id="table1" class="table">
     
    </table>

    <div class="text-end">
      <button type="button" class="btn btn-primary" id="saveChangesButton" onclick="openModal()">Save Changes</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="checkoutModalLabel">Checkout</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="supplierDetails">
              <!-- Supplier details displayed here -->
            </div>
            <table id="table1" class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Total Price</th>
          
                </tr>
              </thead>
              <tbody id='item-list' ></tbody>
            </table> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--
    text/x-templates is a fake type  just to tell
   the browser to ignore this script block
-->
<script type="text/x-templates" id="fields-templates">

    <p class="input-fields">
    
      <table class ='table'>
 
        </thead>
      <tr>
       <td> <input name="product[]" placeholder="product" class="form-control"></td>
      <td> <input type ="number"name="quantity[]" placeholder="quantity" class="form-control"></td>
      <td><input type ="number"name="unit_price[]" class="form-control" placeholder="unit price">
      <td> <input id ="total" name = "totals[]" value= 0.00 class="form-control"><td>
        <td><button type="button" class="remove-fields">
            Remove these fields
        </button></td>
      <tr>  
      </table>
    </p>
</script>

<script>
$(function () {
    var FIELDS_TEMPLATE = $('#fields-templates').text();
    var $form = $('#my-form');
    var $fields = $form.find('.fields');

    $form.on('click', '.add-fields', function () {
        $fields.prepend($(FIELDS_TEMPLATE));
    });

    $form.on('click', '.remove-fields', function (event) {
        $(event.target).closest('.input-fields').remove();
    });
    $form.on('input', 'input[name="quantity[]"], input[name="unit_price[]"]', function () {
      var $inputFields = $(this).closest('.input-fields');
      var quantity = parseFloat($inputFields.find('input[name="quantity[]"]').val());
      var unit_price = parseFloat($inputFields.find('input[name="unit_price[]"]').val());
      var total = calculateTotal(quantity, unit_price);
      $inputFields.find('#total').val(total.toFixed(2));
    });
  function calculateTotal(quantity, unit_price) {
    return parseFloat(quantity) * parseFloat(unit_price);
  }
});




</script>

{% comment %} <script>
let products =[
  {product:'beans',quantity:'2',unitPrice:'12',totalprice:'123'},
   
]
function makeTableHead(table,data){
  let thead=  table.createTHead();
  let row = thead.insertRow();
  for (let key of data){
    let th = document.createElement("th")
    let text =document.createTextNode(key);
    th.appendChild(text);
    row.appendChild(th);
  }
}

let table = document.querySelector("table")
let data = Object.keys(products[0])
makeTableHead(table,data);

function makeTable(table,data){
  for(let element of data){
    let row = table.insertRow()
    for (key in element){
      let cell = row.insertCell();
      let text = document.createTextNode(element[key])
      cell.appendChild(text)
    }
    
  }
}
makeTable(table,products)
</script> {% endcomment %}
  

{% endblock %} 
