{% extends 'base/base.html' %} {% load static %} {% block title %}Sales
Dashboard - Point of Sale System{% endblock %} {% include 'base/style.html' %}
{% block content %}
<div class="container-fluid">
  <h1 style="text-align: center">Receipt</h1>
  <div class="row">
    <div class="col-10 m-auto shadow bg-white">
      <div class="container-fluid">
        <div class="ribbon-wrapper ribbon-xl">
    <div class="ribbon bg-secondary">
      Welcome Again
    </div>
  </div>
        <div id="outprint">
          <div class="lh-1">
            <center><img
            src="{% static 'images/posi.png' %}"
            class="img-circle elevation-3 mt-2"
            alt="Profile Image Placeholder"
          /></center>
            <center><small class="fw-bold">POS</small></center>
            <center><small class="fw-bold">M&J</small></center>
          </div>
          <hr />
          <div class="lh-1">
            <div class="row">
              <div class="col-4.5 ml-auto">
                <div>
              <span><b>Name of Supplier: </b>{{purchase_items.supplier}}</span> 
              <br /><br>
              <span><b>email:</b>{{purchase_items.email}}</span>
              
              <br /><br>
              <span><b>Name of buyer:</b> {{user.first_name}}</span> <br><br>
              <span><b>email:</b> {{user.email}}</span>
            </div>
              </div>
            </div>
          </div>
          <div class="clear-fix py-3"></div>
          <table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">quantity</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
      <td>{{ product}}</td>
      <td>{{ quantity}}</td>
      <td>{{ totals}}</td>

    </tr>
    
  </tbody>
</table>
            <hr />
            <div class="d-flex w-100 align-items-end">
              <div class="col-6 text-start fw-bold">Total</div>
              <div class="col-6 text-end fw-bold">
                {{ transaction.grand_total }}
              </div>
            </div>
            <hr />
            <div class="d-flex w-100 align-items-end">
              <div class="col-6 text-start fw-bold">
                Tax <small>(inclusive)</small>: {{ transaction.tax }}%
              </div>
              <div class="col-6 text-end fw-bold">
                {{ transaction.tax_amount|floatformat:2 }}
              </div>
            </div>
            <hr />
            <div class="d-flex w-100 align-items-end">
              <div class="col-6 text-start fw-bold">Payment Method/s
              </div>
              <div class="col-6 text-end fw-bold">
                {% for method in payment_method %}
                <b>{{ method.payment_method }} :</b> Ksh/= {{ method.Amount }} <br>
                {% endfor %}
              </div>
            </div>
            <hr />
            <div class="d-flex w-100 align-items-end">
              <div class="col-6 text-start fw-bold"> Totals</div>
              <div class="col-6 text-end fw-bold">
                {{ transaction.tendered_amount }}
              </div>
            </div>
            <hr />
            <div class="d-flex w-100 align-items-end">
              <div class="col-6 text-start fw-bold">Change</div>
              <div class="col-6 text-end fw-bold">
                {{ transaction.amount_change }}
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="clear-fix py-3"></div>
        <div class="d-flex w-100 justify-content-end">
          <button
            class="btn btn-light bg-gradient border rounded-0 btn-sm me-1"
            type="button"
            id="receipt_print"
          >
            <i class="mdi mdi-printer"></i> Print
          </button>
            <a class="btn btn-secondary bg-gradient border rounded-0 btn-sm" href="{% url 'sales:sales_dashboard' %}" >Sales Dashboard</p> </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#receipt_print").click(function () {
      var head = $("head").clone();
      var p = $("#outprint").clone();
      var el = $("<div>");
      head.append(
        "<style>body{background-color:unset; font-size:24; !important}</style>"
      );
      el.append(head);
      el.find("title").text("Receipt - Print View");
      el.append(p);
      var nw = window.open(
        "",
        "_blank",
        "width=500,height=800,left=300,top=200"
      );
      nw.document.write(el.html());
      nw.document.close();
      setTimeout(() => {
        nw.print();
        setTimeout(() => {
          nw.close();
        }, 250);
      }, 300);
    });
  });
</script>
{% endblock %}
