{% extends 'base/base.html' %}
{% load static %}

{% block title %}Edit Booking - Accommodation{% endblock %}

{% block content %}
 <div class="container d-flex justify-content-between">
    <div>
      <h1>Edit Booking</h1>
    </div>
    <div>
      <a href="{% url 'accommodation:home' %}" class="btn btn-primary mt-3">
        Home
      </a>
    </div>
    
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
  </form>
{% endblock %}
