{% extends 'base/base.html' %}
{% load static %}
{% block title %}Suplier_List - Point of Sale System{% endblock %}
{% include 'base/style.html' %}
{% block content %}
<style>
    @keyframes blink {
  0% { opacity: 1; color: yellow; letter-spacing: 5px}
  50% { opacity: 0; letter-spacing: 2.5px }
  100% { opacity: 1; color: yellow; letter-spacing: 5px;}
}

.blinking {
  animation: blink 1s infinite;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="row">
        <a href="{% url 'sales:SSreports' %}" class="col-lg-3 col-md-6 ">
            <div class="">
    <div class="card">
      <div class="card-body" style="background-color: green">
        <div class="stat-widget-five">
          <div class="stat-icon dib flat-color-2">
            <i class="fa fa-clipboard"></i>
          </div>
          <div class="stat-content">
            <div class="text-left dib">
              <div class="stat-heading mx-auto" style="color: white"> Sales Reports</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
        </a>
</div>
<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><h4><i class="fas fa-money-bill"></i> Payment Method</h4>Mpesa vs. Cash Amounts</h3>
            </div>
            <div class="card-body">
                <canvas id="mpesa-cash-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-chart-line"></i> Daily Sales</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <!-- Top bar content -->
                    <div class="top-bar">
                        <!-- Add your content here -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="daily-sales-chart-line"></canvas>
                    <hr class="line">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- Chart content -->
                    <canvas id="daily-sales-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<style>
hr {
    background-color: green; /* Set the background color */
    height: 2px; /* Set the height of the hr */
    border: none; /* Remove the default border */
}
</style>
<hr>
<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Most Bought Products</h3>
            </div>
            <div class="card-body">
                <canvas id="most-bought-products-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-exclamation-triangle"></i> Critical Stock</h3>
            </div>
            <div class="card-body">
                <canvas id="stock-usage-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Make an AJAX request to fetch the Mpesa and Cash values from the database
        $.ajax({
            url: "{% url 'reports:fetch-data-from-database' %}",
            method: "GET",
            success: function(data) {
                // Parse the response data and extract the Mpesa and Cash values
                const mpesaValue = data.mpesa;
                const cashValue = data.cash;
                var Total = mpesaValue + cashValue;
                // Create the chart using the retrieved values
                var mpesaCashChart = new Chart(document.getElementById("mpesa-cash-chart"), {
                    type: "doughnut",
                    data: {
                    labels: ["Mpesa (Ksh " + mpesaValue + ")", "Cash (Ksh " + cashValue + ")", "Total (Ksh/= "+ Total +")"],
                    datasets: [{
                        data: [mpesaValue, cashValue, 0],
                        backgroundColor: ["green", "silver", "blue"]
                    }]
                }

                });
            },
            error: function() {
                console.log("Error fetching Mpesa and Cash data from the database.");
            }
        });
        // Make an AJAX request to fetch the sales data from the database
        $.ajax({
            url: "{% url 'reports:fetch-data-from-database' %}",
            method: "GET",
            success: function(data) {
                const currentDate = new Date();  // Get the current date
                const dateRange = [];  // Array to store the date range
                for (let i = 7; i >= 0; i--) {
                    const date = new Date(currentDate);
                    date.setDate(currentDate.getDate() - i);
                    dateRange.push(date);
                }
                // Extract the dates and counts from the response data
                const dates = data.dates.map(date => {
                    const formattedDate = new Date(date).toLocaleDateString('en', {
                        weekday: 'short',
                        day: 'numeric',
                    });
                    const [weekday, day] = formattedDate.split(' ');
                    return `${weekday} ${day}`;
                });
                const counts = data.counts;
                // Format the date range for the label
                const formattedDateRange = `${dates[0]} - ${dates[dates.length - 1]}`;
                // Daily Sales Chart
                var dailySalesChart = new Chart(document.getElementById("daily-sales-chart"), {
                    type: "bar",
                    data: {
                        labels: dates,
                        datasets: [{
                            label: `Sales for (${formattedDateRange})`,
                            data: counts,
                            backgroundColor: "purple"
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function() {
                console.log("Error fetching sales data from the database.");
            }
        });
        // Make an AJAX request to fetch the sales data from the database
        $.ajax({
            url: "{% url 'reports:fetch-data-from-database' %}",
            method: "GET",
            success: function(data) {
                const currentDate = new Date();  // Get the current date
                const dateRange = [];  // Array to store the date range
                for (let i = 7; i >= 0; i--) {
                    const date = new Date(currentDate);
                    date.setDate(currentDate.getDate() - i);
                    dateRange.push(date);
                }

                // Extract the dates and counts from the response data
                const dates = data.dates.map(date => {
                    const formattedDate = new Date(date).toLocaleDateString('en', {
                        weekday: 'short',
                        day: 'numeric',
                    });
                    const [weekday, day] = formattedDate.split(' ');
                    return `${weekday} ${day}`;
                });
                const counts = data.counts;
                // Format the date range for the label
                const formattedDateRange = `${dates[0]} - ${dates[dates.length - 1]}`;
                // Daily Sales Chart
                var dailySalesChart = new Chart(document.getElementById("daily-sales-chart-line"), {
                    type: "line", // Change the chart type to line
                    data: {
                        labels: dates,
                        datasets: [{
                            label: `Sales for (${formattedDateRange})`,
                            data: counts,
                            backgroundColor: "transparent", // Set the background color to transparent
                            borderColor: "purple", // Set the line color
                            fill: false // Disable the area fill
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function() {
                console.log("Error fetching sales data from the database.");
            }
        });
        // Most Bought Products Chart
        $.ajax({
            url: "{% url 'reports:fetch-data-from-database' %}",
            method: "GET",
            success: function(data) {
                const topProducts = data.top_products;

                const products = topProducts.map(product => product.product);
                const quantities = topProducts.map(product => product.total_quantity);

                const mostBoughtProductsChart = new Chart(document.getElementById("most-bought-products-chart"), {
                    type: "bar",
                    data: {
                        labels: products,
                        datasets: [{
                            label: "Quantity",
                            data: quantities,
                            backgroundColor: "blue"
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'bottom' // Set the legend position to bottom
                            }
                        }
                    }
                });
            },
            error: function() {
                console.log("Error fetching data from the database.");
            }
        });
        // Make an AJAX request to fetch the critical stock data
        $.ajax({
            url: "{% url 'reports:fetch-data-from-database' %}",  // Replace with the appropriate URL for your server endpoint
            method: 'GET',
            success: function(data) {
                // Retrieve the critical stock data from the response
                var criticalStockData = data.critical_stock;
                // Extract the product names and remaining quantities
                // Extract the product names and quantities
                var productNames = criticalStockData.map(function(item) {
                    return item.product + ' (' + item.remaining_quantity + ' remaining)';
                });
                var quantities = criticalStockData.map(function(item) {
                    return item.remaining_quantity;
                });
                // Update the Stock Usage Chart with the retrieved data
                var stockUsageChart = new Chart(document.getElementById("stock-usage-chart"), {
                    type: "pie",
                    data: {
                        labels: productNames,
                        datasets: [{
                            data: quantities,
                            backgroundColor: ["#ff5722", "#03a9f4", "#e91e63"]
                        }]
                    }
                });
            },
            error: function(xhr, status, error) {
                console.log('Error:', error);
            }
        });

    });
</script>
{% endblock %}
