{% extends 'base/base.html' %}

{% block title %}Login - Point of Sale System{% endblock %}

{% load static %}
{% include 'base/style.html' %}
{% block content %}
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-10 col-xl-9">
      <div class="card text-black mt-4" style="border-radius: 25px;">
        <div class="card-body p-md-4">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">
              <img src="{% static 'images/pos_image.webp' %}" class="img-fluid border" alt="Sample image">
            </div>
            <div class="col-md-6">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Signup</p>
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
              {% endif %}
              <form class="mx-1 mx-md-4" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="{{ form.username.id_for_label }}">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{ form.username }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="{{ form.email.id_for_label }}">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    {{ form.email }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="{{ form.password1.id_for_label }}">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    {{ form.password1 }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{ form.password2 }}
                  </div>
                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="submit" class="btn btn-primary btn-lg">Signup</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
