{% extends 'base/base.html' %}
{% load static %}
{% block title %}Inventory_DashBoard - Point of Sale System{% endblock %}
{% include 'base/style.html' %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style' %}" />
    <!-- Widgets  -->
    <div class="row justify-content-space-between">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: gray">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count" style="color: white">{{ category_count }}</span></div>
                                <div class="stat-heading" style="color: white">Categories</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: green">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-list"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text" style="color: white"><span class="count">{{ product }}</span></div>
                                <div class="stat-heading" style="color: white">Product</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: red">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count" style="color: white">{{ supplier_count }}</span></div>
                                <div class="stat-heading" style="color: white">Supplier</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: maroon">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count" style="color: white">{{ buyer }}</span></div>
                                <div class="stat-heading" style="color: white">Season</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->
    
    <div class="clearfix"></div>

    <!-- Products -->
    <div class="products">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Products </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Supplier</th>
                                        <th>Product</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if products %}
                                    {% for product in products%}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ product.supplier }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.product_type }}</td>
                                        <td>{{ product.description }}</td>
                                        <td>{{ product.category }}</td>
                                        <td>{{ product.date_added }}</td>
                                        <td>
                                            {% if product.status == 'pending' %}
                                                <a class="btn btn-warning" href="#">{{ product.status }}</a>
                                            {% elif product.status == 'decline' %}
                                                <a class="btn btn-danger" href="#">{{ product.status }}</a>
                                            {% elif product.status == 'complete' %}
                                                <a class="btn btn-success" href="#">{{ product.status }}</a>
                                            {% elif product.status == 'approved' %}
                                                <a class="btn btn-primary" href="#">{{ product.status }}</a>
                                            {% elif product.status == 'bulk' %}
                                                <a class="btn btn-secondary" href="#">{{ product.status }}</a>
                                            {% else %}
                                                <a class="btn btn-info" href="#">{{ product.status }}</a>
                                            {% endif %}
                                        </td>
                                        <td><button type="button" class="btn btn-light "><a style="text-decoration:none;" href ="{%url 'inventory:product_edit' product.id%}"><i class="fa-solid fa-pen-to-square"></i></a></button> </td>
                                        <td><button type="button" class="btn btn-danger "><a href ="{%url 'inventory:product_delete' product.id%}" ><i class="fa-solid fa-trash"></i></a></button> </td>
                                    
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Product Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-2 -->

            
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}
