{% extends 'base/base.html' %}
{% load static %}
{% block title %}DashBoard - Point of Sale System{% endblock %}
{% include 'base/style.html' %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style' %}" />
<style>
</style>
<div class="grid-container">
    <a href="{% url 'inventory:inventory_dashboard' %}" class="grid-item">
        <div>
          <i class='bx bx-select-multiple'></i>
          <p>Inventory</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class="bx bx-chart"></i>
          <p>Sales Reporting</p>
        </div>
    </a>
    <a href="{% url 'sales:sales_dashboard' %}" class="grid-item">
        <div>
          <i class="bx bx-chart"></i>
          <p>Sales</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class="bx bx-user"></i>
          <p>Customer Management</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class="bx bx-box"></i>
          <p>Stock Management</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class="bx bx-bell"></i>
          <p>Stock Alerts</p>
        </div>
    </a>
    <a href="{%url 'purchase_order:purchase_order'%}" class="grid-item">
        <div>
          <i class="bx bx-file"></i>
          <p>Purchase Orders</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class="bx bx-store"></i>
          <p>Supplier Management</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class="bx bx-coin"></i>
          <p>Expenses Management</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class="bx bx-file-blank"></i>
          <p>Quotation &amp; Invoicing</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class='bx bxs-file-find'></i>
          <p>Account Receivables</p>
        </div>
    </a>
    <a href="#" class="grid-item">
        <div>
          <i class='bx bxs-file-plus'></i>
          <p>Accounts Payable</p>
        </div>
    </a>
</div>
{% endblock %}
